doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(href='/')
        .logo
          img(src='/images/logo.png', alt='Your Logo')
      .profile-icon
        a(href='#')
          img(src='/images/profile-icon.png', alt='Profile Icon')
    block content

    footer
      p © 2023 GrocifyPro
