doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .main-container
      header
        a(href='/')
          .logo
            img(src='/images/logo.png', alt='Your Logo')
        .search
          form(action="/catalog/search", method="GET")
            input(type="search", name="q", placeholder="Search...")
            button(type="submit")
              img(src='/images/search-icon.png', alt='Search Icon')
        .sign-up
          a(href='/catalog/sign-up') Sign Up
        .login
          a(href='/catalog/login') Login
        .profile-icon
          a(href='#')
            img(src='/images/profile-icon.png', alt='Profile Icon')
      block content

    footer
      p © 2023 GrocifyPro
