extends layout

block content
  .container
    .row
      .col-md-6.offset-md-3
        h2 Log In
        form(action="", method="post")
          .form-group
            label(for="username") Username
            input#username.form-control(type="text", name="username", required)

          .form-group
            label(for="password") Password
            input#password.form-control(type="password", name="password", required)

          button.btn.btn-primary(type="submit") Log In

  .text-center
    a(href="/catalog/auth/sign-up") Don't have an account? Sign up here.
