/* layout.pug styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: white;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.main-container {
  padding-bottom: 3.5rem;
}

header {
  background: #ffffff;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 160px;
}

h2 {
  font-size: 1.5rem;
  margin: 15px;
}

.profile-icon img {
  max-width: 40px;
  border-radius: 50%;
  border: 2px solid #754c29;
}

footer {
  background: #754c29;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
}


/* index.pug styles */
.cats,
.items-almost-out-of-stock {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.its {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 30px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-card,
.item-card {
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  color: #333;
  text-decoration: none;
}

.category-card:hover,
.item-card:hover {
  transform: scale(1.05);
}

.category-card img,
.item-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.category-card h3,
.item-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.item-card p {
  margin-top: 5px;
  font-size: 1rem;
}

a {
  color: #754c29;
  text-decoration: none;
}

.category-image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid #00A79D;
  padding: 5px;
}

.prim-btn {
  display: inline-block;
  width: 180px;
  height: 40px;
  text-align: center;
  align-self: center;
  justify-self: center;
  background-color: #754c29;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* items-in-category.pug styles */
.catpage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.catpage-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  background: #f4f4f4;
  border: 1px solid #ddd;
  padding: 20px;
  list-style: none;
}

.items-in-category {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.item-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.item-card {
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  color: #333;
  text-decoration: none;
}

.item-card:hover {
  transform: scale(1.05);
}

.item-image {
  width: 250px;
  height: 250px;
  border-radius: 10%;
}

.item-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-price {
  font-size: 1rem;
  margin-top: 5px;
}

.item-link {
  color: #754c29;
  text-decoration: none;
}

/* item.pug styles */
.item-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.item-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.item-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.item-category,
.item-price,
.item-stock {
  font-size: 1rem;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #754c29;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #00A79D;
}

/* addNewCategory.pug styles */
h1 {
  font-size: 1.5rem;
  margin: 20px;
  width: 100%;
  text-align: center;
}

.alert.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
  padding: 10px;
  margin-bottom: 20px;
}

.formcont {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.form-control {
  resize: vertical;
}

button[type='submit'] {
  background-color: #754c29;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type='submit']:hover {
  background-color: #00A79D;
}

button[type='submit'].btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type='submit'].btn-danger:hover {
  background-color: #c82333;
}

.search form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search input:focus {
  border: 1px solid #00A79D;
}

.search img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* Custom styles for the search results page */

.search-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.results-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.result-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 20px;
  width: 90%;
  max-width: 900px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.item-image {
  max-width: 100px;
  margin-right: 20px;
  border-radius: 5px;
}

.item-name {
  font-size: 20px;
  margin: 0;
  color: #222;
}

.item-description {
  margin-top: 10px;
  color: #777;
}

.item-price {
  font-weight: bold;
  margin-top: 10px;
}

.item-stock {
  color: #ff6600;
  font-weight: bold;
}

.no-results {
  font-size: 18px;
  margin: 20px;
  color: #777;
}

.info1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}